html {
  height: 100%;
}
body {
   height: 100%;
}

header {
    background-color:#9C5aFF;
    color: #FFFFFF;
    padding:10px;
    border: 10px solid #000000;
    margin: 0px;
    font-size:28px ;
    display: block;
    width: 790px;
}
nav {
  nav float left
    line-height:;
    background-color:;
    width:125px;
    display: inline-block;
    vertical-align: top;
}
nav ul {
    list-style-type: none;
}
a {
    color: ;
}
section {
    width: 516px;
    display: inline-block;
}
aside {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  background-color:;
  font-size: ;
}
aside ul {
    list-style-type: none;
}
footer {
    width: 790px;
    background-color:;
    text-align:;
    padding:5px;
    display: block;
}
.greyBackground{
  #999999;
}
.Beer{
   width:50%;
}